@model IEnumerable<shoppingAppMVC.Models.Customers>

@{
    ViewData["Title"] = "ShowCustomers";
}

<h1>ShowCustomers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CWalletBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CIsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CWalletBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CIsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
